.header{
  background-color: #FF9500;
  height: 100px;
  margin: 0;
  width: 100vw;
}
.header h1{
  margin: 0;
  color: white;
}
.main{
  width: 90%;
  margin:5%;
}
.box-search, .box-user{
  width: 100%;
  border:1px solid #bbb;
}
.box-user{
  margin-top: 2em;
}
.box-search input{
  width: 100%;
  height: 50px;
}

.add{
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1;
  background: #0066C4;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
}
