.header{
  background-color: #FF9500;
  height: 100px;
  margin: 0;
  width: 100vw;
}
.header h1{
  margin: 0;
  color: white;
}
.main{
  width: 90%;
  margin:5%;
}
.box-search, .box-user{
  width: 100%;
  border:1px solid #bbb;
}
.box-user{
  margin-top: 2em;
}
.box-search input{
  width: 90%;
  height: 50px;
}
.box-search button{
  width: 10%;
  height: 50px;
}
